.c2, .c3, .c4, .c5 {
    width: 50%;
}

body {
    border: 5px solid blueviolet;
}

.full-img{
    max-height: 400px;
    object-fit: cover;
}

#position-title-layout{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.standard-layout{
    display: flex;
    flex-flow: row wrap;
}

.single-standard{
    width: 20%;
}

#agreed-msg{
    width: 100%;
}

.main-actions {
   display: flex;
   justify-content: center;
   width: 70
}

.main-actions > button{
    width: 30%;
}

.address{
    width: 30%;
}

#big-points-layout{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.big-points{
    width: 30%;
}

.single-press{
    width: 30%;
    margin: 1rem;
}