html, body, div {
    box-sizing: border-box;
    font-family: sans-serif;
}

p{
    line-height: 25px;
}

#body-position {
    display: flex;
    flex-flow: row wrap;
    /* formatting */
    width: 100%;
    margin: 0 auto;
    background-color: rgb(248, 248, 248);
}



.c1, .c2, .c3, .c4, .c5, .start-point {
    width: 100%;
    /* formatting */
    height: 70px;
}

.start-point{
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem
}

#company-logo{
    display: block;
    max-width:250px;
    height: 100%;
}

#position-title-layout{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 100%;
    border-left: 1px solid rgb(157, 157, 157);
    

}

#position-title-layout > h1{
    color: red;
    margin-left: 1rem;
}

#position-title-details{
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.9rem;
}

#position-title-details .title-single-detail{
    margin-left: 1rem;
    color: rgb(157, 157, 157);
}

#main-part{
    width: 100%;
    /* formatting */
    /* height: 240px; */
    padding: 1rem;
}

#comp-like{
    font-size: 1.6rem;
}

#comp-view{
    margin-top:1rem;
    font-weight: 100;    
}

.full-img{
    display: block;
    width: 100%;
    margin-top: 1rem;
    /* object-fit: fill; */
}

.card {
    width: 100%;
    padding-bottom: 4rem;
    padding: 2px 16px;
}

/* .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} */

.container {
    box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:1rem;
    background-color: white;
}



#agreed-msg{
    margin-top: 2rem;
    margin:0 1rem;
}

.single-standard{
    border-radius: 15px;
    padding: 0.5rem;
    font-weight: 500;
    margin:1rem;
}

.standard-approve{
    border:1px solid rgba(124, 194, 122, 0.6);
    color: rgb(124, 194, 122);
}

.standard-disapprove{
    border:1px solid rgba(100, 99, 103, 0.6);
}

#note-from-company{
    margin:0 1rem;
    background-color: rgb(242, 242, 242);
    padding: 1rem;
    width: 100%;
    text-align: left;
}

#note-from-company h1{
    font-weight: 550;
    font-size: 1.2rem;
}

#note-from-company h2{
    margin-top: 0.5rem;
    font-size: 1rem;
}

.main-actions > button{
    background-color: lightblue;
    width: 100%;
    padding:1rem;
    border-radius: 5px;
}


.main-actions > button:nth-child(1){
    color: white;
    background-color: rgb(87, 135, 197)
}

.main-actions > button:nth-child(2){
    color: rgb(87, 135, 197);
    background-color: white;
    border: 2px solid rgb(87, 135, 197);
}

.main-actions > button:nth-child(3){
    color: white;
    background-color: rgb(128, 127, 131);
}


.main-actions button{
    margin: 0.5rem auto;
}

.address{
  margin-top: 3rem;  
  padding:0;
  padding-bottom: 0.5rem;
}

.address >img{
    height: 250px;
    object-fit: cover;
}

.address > h1:nth-child(2){
    font-weight: 600;
}

.address > h1{
    margin: 0.5rem;
}

#product-imgs{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 2rem;
}

#product-imgs > img{
    width: 45%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.section-info{
    margin: 1rem;
    margin-top:3rem;
    width:100%;
}
.section-title{
    color: red;
    font-size: 2rem;
}

.section-info > p{
    margin-top:1rem;
}

.section-info > h6{
    font-weight: bold;
    margin-top: 1rem;
}

.section-info > p:nth-child(2){
    font-weight: bold;
}

.big-points{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: white;
    padding:1rem;
    border: 2px solid rgb(229, 229, 229);
    margin-top:1rem;
    height: 5.5rem;
}

.big-points > h1:nth-child(1){
   font-size: 1.2rem;
}

.big-points > h1:nth-child(2){
    color: rgb(134, 134, 134);
 }

 .seperator-line{
     background-color: rgb(231, 231, 231);
     margin-top: 4rem;
     height: 1px;
 }

.section-info ol, .section-info ul{
    margin-left: 2rem;
    margin-top: 0.5rem;
}

ol li, ul li{
    padding-left: 0.5rem;
    color: rgb(158, 158, 158);
    line-height: 25px;
}

li > a{
    text-decoration: none;
    color: rgb(87, 152, 213)
}


#press-layouts{
    display: flex;
    flex-flow: row wrap;
}


.single-press{
    width: 100%;
    margin-top: 1rem;
}

.single-press > img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.press-text-layout{
    background-color: white;
    padding: 0.4rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 4rem;
}

.press-text-layout > h1{
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .last-section-info{
      margin-bottom: 20rem;
      width:100%;
  }
  
.start-point{
    background-color: white;
}

#main-part{
    background-color: rgb(248, 248, 248);
}

.list-title{
    font-weight: bold;
    margin-top: 1rem;
}

.container-slider{
    padding:0;
    margin-bottom: 4rem;
    margin: 2px 16px;
    margin-top: 1rem;
}

.image-gallery-slide img{
    height: 250px;
}

@media (min-width: 900px){
    #body-position {
      font-size: 18px;
    }
    
    .full-img{
        max-height: 400px;
        object-fit: cover;
    }
    
    #position-title-layout{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .standard-layout{
        display: flex;
        flex-flow: row wrap;
    }
    
    .single-standard{
        width: 20%;
    }
    
    #agreed-msg{
        width: 100%;
    }
    
    .main-actions {
       display: flex;
       justify-content: center;
       width: 70
    }
    
    .main-actions > button{
        width: 30%;
    }
    
    // .address{
    //     width: 30%;
    // }


    #address-and-roller{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        // align-items: center;
        margin: 0 auto;

    }
    .image-gallery-image{
        padding-bottom: 0;
    }

    .image-gallery{
        width: 100%;
        // display: inline-block;
    }

   .address-card{
        width: 25vw;
        height: 355px;
    }

    // .container-slider{
    //     width: 70%;
    //     // display: inline-block;
    // }

    .image-gallery-slides{
        width: 65vw;
        // border:1px solid purple;
    }
    
    #big-points-layout{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .big-points{
        width: 30%;
    }
    
    .single-press{
        width: 20%;
        margin: 1rem;
    }

    .image-gallery-slide img{
        height: 350px;
        object-fit: cover;
    }

    .address{
        margin:0;
        padding: 0;
        height: 100%;
    }
  }

